<!DOCTYPE html>
<html>
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
<head>
  <title>Online Kahani</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>
<body background="../images/home.jpg">
<h1 class = "ifont ipadd head">onlinekahani.com</h1>
    <p class = "ifont ibody">Welcome to online kahani. We are a non profit organisation running for serving the world to eradicate the thirst of emotions. Out of all the possessions like money, power etc the most important for survival which we miss today is Love.
    And we are here to serve it via the form of a online web series of short stories and episoded series.
    Every week a roll of a story would be released to feed your hearts.
    <br><br>"We are born of love;love is our mother."<br>
                            -Rumi
                            </p>

   <!-- <p class = "ifont ibody dir"><a href="/dir">Directory</a></p> -->
   <div class = "ifont ibody">
     <form action = "javascript:void(0)">
        <p>Subscribe here 
          <input class = "inputbox" type = "email" id = "emailid" required placeholder="e-mail">
          <button type = "submit" onclick = "emailsubs()">Add me </button>
        </p>
     </form>
    
   
   </div>

</body>
</html>
<script src = "../javascripts/index.js"></script>