<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<head>
  <title>Online Kahani</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>

<body background="../images/back.jpg">
  <!-- <h1 class = "ifont ipadd head">onlinekahani.com</h1>
    <p class = "ifont ibody">Welcome to online kahani. We are a group of writers writing to serve the world to eradicate the thirst for all sorts of emotions. Out of all the possessions like money, power etc the most important for survival which we miss today is Love.
    And we are here to serve it via the form of a online web series of short stories and episoded series.
    Every week a roll of a story would be released to feed your hearts.
    <br><br>"We are born of love;love is our mother."<br>
                            -Rumi
                            </p> -->

  <!-- <p class = "ifont ibody dir"><a href="/dir">Directory</a></p> -->
  <!-- <div class = "ifont ibody">
     <form action = "javascript:void(0)">
        <p>Subscribe here 
          <input class = "inputbox" type = "email" id = "emailid" required placeholder="e-mail">
          <button type = "submit" onclick = "emailsubs()">Add me </button>
        </p>
     </form>
    
   
   </div> -->
  <div class="container laske">
    <br>
    <br>
    <h1 class="text-center bigger">Onlinekahani</h1>
    <!-- <h1 class = "jumbotron">"Love which changed my Life"</h1> -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-justify">
        <h2>Author's preface:</h2>
        <p class="para">
          This is the most terrific moments which has happened in my life. This memoir says about what my girlfriend Shalini underwent
          when she left his boyfriend Sunny and got in a relation with me. This memoir is also a part of hers. It taught
          us not to deceive anyone in our life and how leaving a loved one would result in despair and pain of the tenderness.
          And every time I read this memoir, guiltiness stabbed my heart and so hers.
        </p>
        <h2>Mainline</h2>
        <p class="para">
          It was her last day at New Delhi and we were returning to Jalandhar. It was so hard for her to take the trip. She worried
          how to say it to Sunny and didn’t cognize in what way he would take it. It was the most terrible moment she could
          ever experience. For every mile of the journey, her heart raced with different thoughts, what Sunny would think
          about her. She hated her visit to her home for the first time and was repenting to me. After reaching she introduced
          me to her home and went inside in a quick while. I could understand she was in sorrow. Her guiltiness slapped her
          face and mine too. It was since 3 years she left Sunny to do her management studies. She repented for getting in
          a relationship with me now. But circumstances led so. She knew about Sunny and how he would apprehend the situation.
          After all she was in love with him for 2 years and indeed, she was extremely happy with him at that time. Her expression
          of guilt would make him anguished rather than cool him down. I agree it was her mistake but her guilty conscience
          didn’t accept it. She has to apologize to him. Or we both will be condemned with the sin of his love. We were tired
          of the journey and the inner contemplation. She slept and said she would message him the next day. She wanted to
          articulate from her point of view. She knew it was iniquity but wanted him to comply with it. She thought he would
          have got a new valentine and so that forgot her. There was no chance he would know about her relation with me.
          And he didn’t.
        </p>
        <p class="para">
          She made the mistake and she wanted her inner wit to prospect to remorse to him. Next day, she sat with me and typed a message
          <blockquote class="blockquote">
            “Hi Sunny. I came to Jalandhar today. How are you doing..? Hope so well. Just wanted to meet and speak something important
            to you. Can you come to Wonderland theme park tomorrow. Sharp at 11 o clock”
          </blockquote>
        </p>
        <p class="para">
          She used a facebook messenger which had no word limit. But her culpability had. She thought what he would think about reading
          a message after years of hardship. He saw the message 27 minutes after she sent, but he didn’t reply. I could feel
          what he was undergoing that his muffled heart hasn’t spoke to her in years. She waited for the reply. But he didn’t.
          She switched off her mobile and went to sleep. She waited for the reply. She willed herself to not check her phone
          to see if he had replied. It had been about three days now. She hated that she was constantly checking his 'last
          seen at' status and yes, he had logged in just five minutes ago. Yet she couldn't stop herself. This sinking feeling
          to find absolutely no communication from him was becoming unbearable, almost torturous. And then, just as she sat
          down in her chair, her phone vibrated. With her heart thudding in her ear, she unlocked her phone and stared at
          the screen. Finally! It was his message. But when she opened it and read it, she nearly stopped breathing. She
          didn't know if he was joking or not. What was this? I was at first shocked after seeing her weird signs. I starred
          at her and she passed the mobile to me and it read
          <blockquote class="blockquote">
            “Hey Shalini. I saw your message and I couldn’t reply. How is your studies going..? I saw your photos in facebook and anticipated
            you are happy. Good luck with your new boyfriend. And I too have a girlfriend now. So don’t worry about me. I
            am happy and wish you too. It’s better we could avoid meeting each other resulting in bitterness. Take care.
            <3” </blockquote>
        </p>
        <p class="para">
          I was taken aback by the message from him to have such an amnesty. I saw her weeping in deep sorrow. I could feel the pain
          in her heart. She was sobbing and I couldn’t digest it. I went near her and patted her shoulders. She said he had
          not compassioned her rather gave her a hint of emotional delicacy. She wanted to meet him. My heart pounded not
          knowing what to do now. The only way to make Shalini happy was to elucidate things. I couldn’t find where he lived.
          So I thought it would be better if I could ask his family about him. I gave a visit to his family and his sister
          was at home that time. She recognized me as I entered. Maybe Sunny had said about me to her. She never showed her
          brother’s sulked furiousness or the embarrassment or grievance which I brought to the family. Probably she would
          have thought from my perspective and understood the whole situation. She started to say what happened
          <blockquote class="blockquote">
            “After seeing her pictures in facebook with you, his hope on her broke and a year later coincidentally his friend joined
            there. He made calls every day to know about her to his friend. And in a short while a heart breaking news came
            that you both were in a relation. He said to Sunny whatever has happened. He couldn’t cheat his friend. Sunny’s
            frequency of calling him was limited after that. He understood she was no more hers. He spoke limitedly to everyone
            in the family. After a few months he said to me that he got a girlfriend and was becoming serious in her. Eventually
            he wanted to stay away from us. He wanted to stay alone and shrewdly made a fight with the family. He left home
            a year ago and he never spoke to us after that. At least he is happy in that way. So I didn’t interrupt him.
            He loved me more than anyone in the family and left the home by sliding a bit of paper in my pocket.”
          </blockquote>
<p class = "para">
          She passed me the paper and it read
</p>    
      <blockquote class="blockquote">
            “Dear sister, I am sorry to leave you. I will meet you in your marriage”
          </blockquote>
        </p>
        <p class="para">
          A wave of sorrow and guiltiness slashed my heart. I didn’t expect this much would happen. I don’t want to sit there and embarrass
          his lovely sister. I left the place and returned home. Shalini was waiting with a ray of hope longing for him.
          I said what happened to him. She was mourning for her mistake. I couldn’t empathize her feeling as I too was guilty
          of the mistake. I took a corner and waited for her to get out of the emotional sickness. After half an hour she
          stood up and starred at my eyes. She came and gave me a tight hug. The warmth of her body made me feel more close
          to her. She held me for more than a minute and I took back. She sat down next to me and glared at my eyes. Her
          eyes were like a pearl dipped in a sea of sorrow. She took my chin up and said she wanted to talk to him. She still
          loved him. Fortunately I meddled in between them. It made me convicted. She was built with a strong endurance in
          herself and said she wanted to find him. We had no idea whom to ask. I interrogated her whether is there a place
          he visits often to do things say like a bar he drinks or something else. She thought for a moment and said that
          before a long while, he buys fruits from a shopkeeper named Imam bhai and visits often his shop. I thought maybe
          we could ask Imam bhai about Sunny. She agreed in a combo of both sorrow and a hint of excitement as we were nearing
          him. We went to Imam bhai’s shop and asked him to have a cup of coffee with us. I said him the about the proceeding
          and he took a look at Shalini and asked whether it was her. I nodded in silence. He starred and shouted at her.
          He said ” You know how much he loved you. And you left him without any reasons. He left his family and is staying
          outside now. He comes here every evening to buy fruits and talks about his love on you. After some days he stopped
          coming here and I asked why. He said he was busy with his new girlfriend. Masha Allah. Maybe he is happy now. Better
          go and deplore your mistake now”
        </p>
        <p class="para">
          Shalini’s tears increased by every word of Imam bhai. I crossed my hands across her and stood with her. She dropped her head
          on my chest and cried. Her tears touched my shirt and too my heart. I asked for his house address for him. He said
          he comes around 5 ‘o’ clock in the evening sometimes. We left the place. She said she will go every day at the
          same time and wait for him. She didn’t want me to come there. I accepted. That evening she left home saying she
          is going to see him. It was 8 ‘o’ clock but she didn’t return home. I went in search of her and found her at a
          park. She was sitting in the grass sobbing. I went and patted her shoulder. Her eyes twinkled in the moon’s light
          dripping with tears. I sat next to her. She turned aside and hugged me. I could feel that something intense and
          dreadful has happened. I kept my hand on her head and waked her. She starred in my eyes. I couldn’t control my
          deep distress for her. She said “He came there and I went near him. He didn’t notice me or maybe he acted like
          that. I spoke to him and he looked at me and kept his hands on my cheeks and started to mourn. We sat in the chairs
          nearby. He said he was depressed as I left him and he couldn’t figure out what was the reason. He said some months
          later a girl with same characters like me proposed to him. He went for a relation with her, and they stayed together.
          He said he never wanted to meet me again as it increased the bitterness between both of us. He left by placing
          a kiss on my cheeks. And after walking a while he turned right and shouting alone. He then spoke to himself and
          left. I couldn’t figure out what happened to him and I approached his home without his knowledge. I peeped through
          the window and saw what he was doing. I was pulled down by his behavior. He was living with an imaginary character.
          He took a bowl of food and fed as someone is present, dropping the food down. He took two blanket and left to his
          room. He was living with an imaginary character. He noticed and called me inside. He cried alone. I went and gave
          a tight hug to him. He said he was suffering from schizophrenia and people called him mad. He was living with an
          imaginary character and she had all the characters of mine. He couldn’t leave her and so he stayed alone. Doctor
          advised him to get treated so that he could stay away from that character. But he didn’t want. Doctor has informed
          he could be a threat to others. So he stayed alone.”
        </p>
        <p class="para">
          The feeling she had had come out in the form of tears and words. She laid her face on my shoulders and was mourning in deep
          sorrow of the wilderness. I let her be. I never wanted her to be like this. I stayed genuine. I asked whether she
          wanted to stay with him. She was taken aback. She came forward with an inch distance between our lips and said
          “I don’t want to lose you too. But I want to meet him for one last time.” We walked a mile to home and slept in
          tiredness. The next day we started at 10 o clock to see Sunny in his home. It was an ancient building with large
          area fenced. We pressed the doorbell. It was absolute silence in there. The door was locked inside. My insights
          thought something drastic has happened. I went near the window and peeped in to see. My heart collapsed and I trembled
          for a second. I couldn’t believe what happened. She came running after seeing me in such a manner. I pulled her
          head not to see it. But she pushed me away to see. A grave silence attacked us. She burst in tears yelling over.
          He hanged himself in a ceiling fan. His eyes popped outside and his tongue rolling over. I went to the main door
          and broke it. I took him down and put him on the floor. He had a letter in his pocked making it visible to anyone.
          Shalini read it with her tears rolling. She collapsed and fell down after reading it. I caught her by my side and
          made her to sit. A sense of terror circulated in the room. I pulled it from her and it read as
        </p>
        <blockquote class="blockquote">
          Dear Shalini, I know you will come to see me. The disease I am suffering from is killing me. I fell in distress when you
          left me 2 years ago. And definitely it is not your fault. And this disease helped me live for some time but later
          not. After your visit last night, I couldn’t get out of the trauma and thought of staying with you again. But people
          say I was a threat to others. And my inner heart from yesterday said to come to you but my lover whom others call
          her as an imaginary character said to kill you as you were interrupting in between us. I did everything what she
          said before. But my heart never said to do it. But it was irresistible. I couldn’t control her and her words. So
          the only way now was to exit. I wanted to quit rather than being a threat. I am leaving Shalini. Bye. Take care
          of him. -Sunny
        </blockquote>
        <p class="para">
          I succumbed after reading such a letter. It broke my heart and hers too. I asserted never to do such a mistake like this.
          I couldn’t suppress her feeling. We called the police and they registered a suicide case against him. She went
          into a state of shock for almost a day. Her affection and tenderness for him assaulted herself. She became a little
          normal after two days and we left the home. We went to our home so it could bring her some disclosure from the
          previous thoughts. She loved him intensively, more than anyone could ever. Regret and grief stabbed her heart.
          And still, she loved him forever…….
        </p>
        <a href="../Files/Love-which-changed-my-life.pdf">Download as Author's edit</a>
        <br>
        <form action="javascript:void(0)">
          <p style="text-align: center;">Subscribe here
            <input class="inputbox" type="email" id="emailid" required placeholder="e-mail">
            <button type="submit" onclick="emailsubs()">Add me </button>
          </p>
        </form>
      </div>
    </div>
  </div>

  </a>
</body>

</html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.all.min.js"></script>
<script src="../javascripts/index.js"></script>
