.ifont{
	font: 24px "Lucida Grande", Helvetica, cursive, serif;
}
.head{
	font-size: 60px;
}
.ibody{
	width: 600px;
	margin:50px;
	text-align: inherit;
}
.ipadd{
	margin: auto;
padding-left: 300px;
}
.dir{
	padding-right: 500px;
}
/* .ipadd.ifont{
	padding:20px
}
.ifont.ibody{}
.ifont.ibody.dir{} */

.inputbox{
	border: 2px solid #85b4d6;
	border-radius: 4px;
	background-color: #e3e9f7;
}
.laske{
	/* font-family:Zapf Chancery, cursive; */
	font-size:20px;
	font-family: Oldtown, fantasy;
	/* font-style: oblique; */
}
.para{
	font-size: 20px;
	/* background-image: url("../images/home.jpg"); */

}
blockquote{
	background-color: #e6e0c6;
	font-size: 18px;
}
.bigger{
	font-size: 80px;
	font-family:Zapf Chancery, cursive;
	font-style: oblique;
}
.jumbotron{
	background-color: transparent;
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
	.para{
		font-size:15px;
	}
	.bigger{
		text-align :left;
	}
}